#logo {
    width: 100%;
    max-width: 300px;
}
#navi{
    border-radius: 25px;
    background-color: #4b6587;
    height:auto;
    font-family:Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
    /* width:auto; */
}
#emailbox {
    border-radius: 25px;
    background-color: #f0e5cf;
    width: 100%;
    max-width: 700px;
    
}
#Message {
    font-family: 'Open Sans', sans-serif; 
    margin-top: 20px;  
}

#comida {
    border-radius: 25px;
    margin-top: 20px; 
    background-color: #4b6587;
}

#recetario {
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px; 
    background-color: #4b6587;  
    padding: 20px; 
}

#body {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    background: #f1f1f1;

  }
  
  /* Header/Blog Title */
#header {
    font-family:'Open Sans', sans-serif;
    padding: 30px;
    font-size: 40px;
    text-align: center;
    color: #f1f1f1;
    background:  #4b6587;
    margin-top: 20px;
  }


