@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&display=swap');

#logo {
    width: 100%;
    max-width: 300px;
}
#navi{
    border-radius: 25px;
    background-color: #4b6587;
    height:auto;
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    
    /* width:auto; */
}
#navi a {
    text-decoration: none;
    color:white;
}

#emailbox {
    border-radius: 25px;
    background-color: #f0e5cf;
    width: 100%;
    max-width: 700px;
    
}
#Message {
    font-family: 'Open Sans', sans-serif; 
    margin-top: 20px;  
}

#comida {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color:white; 
    border-radius: 25px;
    margin-top: 20px; 
    background-color: #4b6587;
    padding: 17x;
}

#recetario {
    font-family: 'Great Vibes', cursive;
    font-size: 40px;
    color:white; 
    border-radius: 25px;
    padding: 20px;
    margin-top: 20px; 
    background-color: #4b6587;  
}

#body {
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
    background: #f1f1f1;

  }

  #footer {
    font-family: 'Great Vibes', cursive;
    font-size: 15px;
    text-align: center;
    color:white; 
    border-radius: 25px;
    margin-top: 10px; 
    background-color:black;    
  }


